<%@ page language="java" contentType="application/vnd.ms-excel"%>
   <% response.setHeader("Content-Disposition:","attachment;filename=DayReport.xls"); %> 
 
<%@ taglib prefix="s" uri="/struts-tags" %>

<!DOCTYPE html>
<html lang="en">
<head>
<title>CDMS</title>

</head>
<body>
        
       
<form >
  <table border="1">
        <thead>
            <tr>
            <th>SNO</th>
                <th>Date</th>
                  <th>Time</th>
                <th>Event Source</th>
                <th>Event Description</th>
            </tr>
        </thead>
        <tbody>
        <% int count=1; %>
       
         <s:iterator value="eventReport"  >
          <tr><td><%= count++ %></td><td><s:property value="date"/></td><td><s:property value="time"/></td><td><s:property value="EventSource"/></td>
          <td><s:property value="EventDecription"/></td>
          </s:iterator>
        </tbody>
    </table>